







#title {
    background-image: linear-gradient(rgba(187, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url("pebbles-1090536.jpg");
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'gentium basic ';
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 200;
    margin-bottom: 20%;
    margin-right: 7%;
}

.container-fluid {
    padding: 3% 5% 12%;
}

#mad {
    font-size: 350%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* navbar */

.navbar {
    color: rgb(255, 15, 15);
    padding: 0 0 4.5rem;
}

.navbar-brand {
    color: rgb(0, 0, 10);
    font-family: ubuntu;
    font-size: 2.5rem;
}


.nav-item {
    padding: 4px;
    font-size: 120%;
 color: #d34141;
}

/* download-button */

.title-image {
    width: 40%;
    transform: rotate(15deg);
    position: absolute;
    right: 30%;
}

#heart {
    width: 40px;
    height: 40px;
}

#features {
    padding: 5% 12%;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    font-size: 200%;
    padding: 0%

}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f;
}

.icon {
    color: #8bcdcd;
    margin-bottom: 1rem;
}


.icon:hover {
    color: #00bbff;
}

.testimonail-carousel {
    height: 500px;
}

.carousel-item {
    padding: 7% 15%;
    height: 100%;
    width: 100%;
}

@media (max-width: 6028px) {
    .title-image {
        position: static;
        transform: rotate(15);
        width: 100%;
        height: 100%;
    }
    #title {
        text-align: center;
    }
}

#cta {
    font-family: 'Montserrat-bold', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: hsl(46, 70%, 59%);
    ;
}




.cta-a {
    font-size: 4rem;
    color: rgb(230, 33, 33);
    line-height: 2;
    margin-bottom: 50px;
}


.button-end {
    margin-right: 30px;
}

#footer {
    text-align: center;
    padding: 40px;
    font-size: 1rem;
}

.card-body {
    border-radius: 10%;
    box-sizing: border-box;
    box-shadow: #000000;
    size: 56cm;
    border-style: ridge;
    background-color: #1b694b;
}

.card {
    color: rgb(255, 154, 22);
    size: 7cm;
    border-radius: 10%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.testimoniall-image {
    width: 40%;
}

.profile-photo {
    text-align: center;
}

.about-us {
    background: linear-gradient(170deg, #b0c7dd 0%, #f8b0db 100%, #ff9191 100%);
       
    padding: 6%;
    font-family: ubuntu;
}

#about-heading {
    text-align: center;
}

.about-us-container {
    padding-top: 100px;
}

.line {
    border: 3px solid rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.00em;
    color: #4a89ca;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 0.3em;
    line-height: 1.25em;
    margin-top: .85em;
    margin-bottom: .5em;
}

p {
    font-size: .875em;
    line-height: 1.4;
    margin: 0 0 1.5em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container,
.content {
    margin: auto;
    border: #ff0c0c;
}

.container {
    width: 99.02985075%;
    height: 100%;
    max-width: 12660px;
    padding: 0 2.25em 4em;
    background: rgb(255, 255, 255);
}

.main-header {
    font: size 7px; ;
    text-align: center;
    padding: 2.8em 0 3.0em;
}

.cube-container {
    width: 560%;
    height: 560%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto 4.5em;
    border: #000000;
    margin-right: 21%;
}

/* ---- Page Elements ---- */

.name {
    font-size: 1.65em;
    font-weight: 800;
    margin: 0 0 1.5em;
    line-height: 1;
}

.name span {
    font-weight: 300;
    margin-left: -7px;
}

.logo {
    width: 45px;
    margin-bottom: .4em;
    cursor: pointer;
}

.button {
    font-size: .8em;
    color: #fff;
    width: 90%;
    line-height: 1.15;
    font-weight: 700;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: .95em 0;
    border-radius: .5em;
    background: rgba(255, 121, 121, 0.8);
    margin: auto;
}

/* ---- Photo Overlay ---- */

.photo-desc {
    font-size: .95em;
    color: rgb(0, 0, 0);
    padding: 1.1em 1em 0;
    background: #78beff;
}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
    border: #000000;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .cube-container {
        float: left;
        margin-left: 1.6%;
    }
}

@media (min-width: 1025px) {
    .cube-container:first-child {
        margin-left: 8%;
    }
    .cube-container:last-child {
        float: right;
    }
    .content {
        max-width: 900px;
        margin: auto;
    }
}

/* ================================= 
  Button Transitions
==================================== */

.button {
    transition: background .3s;
}

.button:hover {
    background: rgb(255, 255, 255);
}

/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

.cube-container {
    box-shadow: 0 18px 40px 5px rgba(0, 0, 0, 0.9);
    perspective: 800px;
    border: #000000;
}

.photo-cube {
    transition: transform 2s ease-in-out;
    width: 220px;
    height: 220px;
    transform-style: preserve-3d;
}

.photo-cube:hover {
    transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.front {
    transform: translate3d(0, 0, 110px);
}

.back {
    transform: translateZ(-110px) rotateY(270deg);
    transform-origin: center left;
}

.left {
    transform: rotateY(-270deg) translate3d(110px, 0, 0);
    transform-origin: top right;
}

.right {
    transform: translateZ(-110px) rotateY(180deg);
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 10.2), 0 6px 20px 0 rgba(10, 10, 10, 10.19);
}

























