* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  overflow: hidden;
  background: black;
}

.top-info-container {
  z-index: 1;
  top: 20px;
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
}

.bottom-info-container {
  z-index: 1;
  bottom: 20px;
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 35px;
  color: #e6f1ff;
}

.title-desc {
  margin-top: 5px;
  color: #ccd6f6;
  padding: 0 5px;
}

#infected {
  color: goldenrod;
}

#deaths {
  color: #ff4848;
}

#recovered {
  color: #1ae021;
}

.card {
  font-family: 'Space Mono', monospace;
  transition: 0.3s;
  background-color: black;
  width: 190px;
  border: 2px solid steelblue;
  border-radius: 10px;
  text-align: center;
  z-index: 2;
}

.container {
  /* padding: 3px 16px; */
  padding-top: 1px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.card-img {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-weight: bold;
}

.card-total-cases {
  font-size: 11px;
}

.card-spacer {
  height: 5px;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.scene-tooltip {
  z-index: 2;
}
